<div class="container-fluid">
    <div class="card plain-card">
        <div class="card-header py-0">
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Enter Coal Grade</mat-label>
                        <input matInput placeholder="Enter Coal Grade">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-main">Submit</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                Table -> srno, coal grade, base price, GST(CGST,SGST,IGST), Action
            </div>
        </div>
    </div>
</div>

<button (click)="deleteRecord()">delete</button>