<div class="container-fluid">
    <h5 class="page-heading">Grade Wise Rate Card Chart</h5>
    <div class="card plain-card">
        <div class="card-header py-0">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <div class="row align-items-center">

                        <div class="col-8 col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Enter Coal Grade</mat-label>
                                <input matInput placeholder="Enter Coal Grade" [formControl]="searchText">
                            </mat-form-field>
                        </div>
                        <div class="col-4 col-sm-2 text-end">
                            <button mat-raised-button class="btn btn-secondary"
                                (click)="pageNumber = 1;getCoalGradewiseRateMaster()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                        <td mat-cell *matCellDef="let element let i= index"> {{((pageNumber + 1) * 10 + i + 1)-20}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="coalGradeName">
                        <th mat-header-cell *matHeaderCellDef> Coal Grade </th>
                        <td mat-cell *matCellDef="let element"> {{element.coalGradeName | titlecase}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef> Unit</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit ? element.unit : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="baseRate">
                        <th mat-header-cell *matHeaderCellDef> Base Rate <br>(₹/Tonne)</th>
                        <td mat-cell *matCellDef="let element"> {{element.baseRate ? element.baseRate :'-'}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="royalty">
                        <th mat-header-cell *matHeaderCellDef> Royalty</th>
                        <td mat-cell *matCellDef="let element"> {{element.royalty ? element.royalty : '-'}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="cgst">
                        <th mat-header-cell *matHeaderCellDef> CGST <br>(2.5%)</th>
                        <td mat-cell *matCellDef="let element"> {{element.cgst ? element.cgst : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sgst">
                        <th mat-header-cell *matHeaderCellDef> SGST <br>(2.5%)</th>
                        <td mat-cell *matCellDef="let element"> {{element.sgst ? element.sgst : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="igst">
                        <th mat-header-cell *matHeaderCellDef> IGST <br>(5%)</th>
                        <td mat-cell *matCellDef="let element"> {{element.igst ? element.igst : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cess">
                        <th mat-header-cell *matHeaderCellDef> CESS <br>(₹/Tonne)</th>
                        <td mat-cell *matCellDef="let element"> {{element.cess ? element.cess : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <!-- <th mat-header-cell *matHeaderCellDef> actions </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                <button mat-icon-button class="bg-dark bg-opacity-10 text-dark mx-2"
                                    (click)="openAddRateCardrModal(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="bg-danger bg-opacity-10 text-danger" (click)="deleteConformation(element.id)">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                            </div>
                        </td> -->
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item   (click)="openAddRateCardrModal(element)">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Edit</span>
                                        <mat-icon>edit</mat-icon>
                                    </div>
                                </button>
                                <button mat-menu-item >
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>Delete</span>
                                        <mat-icon>delete_outline</mat-icon>
                                    </div>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="12">No data found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'highlightedRow ':highlightedRow == row.id}"></tr>
                </table>
            </div>
            <ng-container *ngIf="totalRows>10">
                <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" showFirstLastButtons
                    (page)="pageChanged($event)">
                </mat-paginator>
            </ng-container>
        </div>
    </div>

</div>