<div class="container-fluid">
    <div class="card plain-card">
        <div class="card-header py-0">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <div class="row align-items-center">

                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Enter Coal Grade</mat-label>
                                <input matInput placeholder="Enter Coal Grade">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <button mat-raised-button class="btn btn-secondary">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-end">
                    <button  mat-raised-button class="btn btn-main" (click)="openAddRateCardrModal()">
                        Add New Rate
                    </button>
                </div>

            </div>
        </div>
        <div class="card-body">
            <table class="dashboard-table table table-bordered w-100">
                <thead>
                    <tr>
                        <th rowspan="2">SR. No.</th>
                        <th rowspan="2">Coal Grade</th>
                        <th rowspan="2">Unit (Rs./Tonne)</th>
                        <th rowspan="2">Base Rate</th>
                        <th rowspan="2">Royalty</th>
                        <th colspan="3" class="text-center">GST</th>
                        <th rowspan="2">Cess</th>
                        <th rowspan="2">Total</th>
                        <th rowspan="2">Actions</th>
                    </tr>
                    <tr>
                        <th>CGST (7%)</th>
                        <th>SGST (7%)</th>
                        <th>IGST (1 4%)</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>
                            <div class="">
                                <mat-label>Coal Grade</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>Unit</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>Base Rate</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>Royalty</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>CGST</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>SGST</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>IGST</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>Cess</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="">
                                <mat-label>Total</mat-label>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <button mat-icon-button class="bg-dark bg-opacity-10 text-dark mx-2">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="bg-danger bg-opacity-10 text-danger">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                            </div>    
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <button class="btn btn-main" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="deleteRecord()">delete</button>

<div class="row">
    <div class="col-sm-12">
        <div class="card plain-card">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmitMain()" autocomplete="off">                    
                    <div class="row">
                        <table style="border: 1px;">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Mineral</th>
                                    <th>Charges</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="mineral">
                                <tr *ngFor="let itemrow of minerals.controls; let i=index;let l=last" [formGroupName]="i">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        <input class="form-control" formControlName="mineralName" [readOnly]="true" style="border: 0px; box-shadow: none;">
                                    </td>
                                    <td>
                                        <input class="form-control" formControlName="mineralCharge" maxlength="20">
                                        <div class="errorText" *ngIf="minerals.controls[i].get('mineralCharge')?.errors?.['pattern']">
                                            invalid</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->