<div id="loginbox" class="d-flex align-items-center justify-content-between">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card card-body">
                    <h5>Login</h5>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Username</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <button mat-raised-button class="btn-main w-100 py-1">LOGIN</button>
                        <div class="text-end mt-1">
                            <a class="text-main" href="#">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>