<div id="loginbox" class="d-flex align-items-center justify-content-between">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card card-body">
                    <h5>Login</h5>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Username</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>