<div class="container-fluid">
    <h5 class="page-heading">Application</h5>
    <div class="card plain-card border-0">
        <div class="card-header pb-0">
            <form [formGroup]="filterForm">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-1">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Select Year</mat-label>
                            <mat-select formControlName="applicationYear">
                                <mat-option value="" >All Year</mat-option>
                                <mat-option *ngFor="let year of yearArray" [value]="year">{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-sm-2">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Select District</mat-label>
                            <mat-select formControlName="districtId">
                                <mat-option *ngFor="let district of districtArray" [value]="district.value">
                                    {{district.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Application Number/Consumer Name</mat-label>
                            <input matInput placeholder="Application Number/Consumer Name"
                                formControlName="applicationNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-auto">
                        <button class="btn-secondary" mat-raised-button (click)="searchData()"><i
                                class="fa fa-search me-2" aria-hidden="true"></i>Search</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                        <td mat-cell *matCellDef="let element let i = index">{{((pageNumber + 1) * 10 + i + 1)-20}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="approval_status">
                        <th mat-header-cell *matHeaderCellDef> Approval<br>Status </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngFor="let item of element?.coalApplicationApproverDetails">
                                <!-- <span class="badge mb-0"  [ngClass]="{'bg-success bg-opacity-25 fw-normal text-success': item?.applicationStatusText =='Approved','bg-danger bg-opacity-25 text-danger fw-normal': item?.applicationStatusText=='Rejected' ,'bg-warning bg-opacity-25 text-dark fw-normal': (item?.applicationStatusText == null || item?.applicationStatusText =='Pending') }">

                            {{item.applicationStatusText}}
                           </span><br> -->
                                <span class="badge mb-0"
                                    [class]="item?.applicationStatusText =='Approved' ? 'bg-success bg-opacity-25 text-success' : item?.applicationStatusText =='Pending' ? 'bg-warning bg-opacity-25 text-dark' : 'bg-danger bg-opacity-25 text-danger' ">
                                    {{item.applicationStatusText}}
                                </span><br>
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="application_number">
                        <th mat-header-cell *matHeaderCellDef> Application Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.applicationNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="application_date">
                        <th mat-header-cell *matHeaderCellDef> Application Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.applicationDate | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="allocated_quantity">
                        <th mat-header-cell *matHeaderCellDef> Allocated<br>Quantity </th>
                        <td mat-cell *matCellDef="let element"> {{element.allocatedQty}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Year">
                        <th mat-header-cell *matHeaderCellDef> Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.applicationYear}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Consumer_name">
                        <th mat-header-cell *matHeaderCellDef> Consumer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.consumerName | titlecase}} </td>
                    </ng-container>
                    <ng-container matColumnDef="district">
                        <th mat-header-cell *matHeaderCellDef> District </th>
                        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item [routerLink]="'../approval/'+element?.id">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>View</span>
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </div>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                        <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ng-container *ngIf="totalRows>10">
                    <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" showFirstLastButtons
                        (page)="pageChanged($event)">
                    </mat-paginator>
                </ng-container>
            </div>

        </div>
    </div>
</div>