<div class="container-fluid">
    <h5 class="page-heading">Register Collary</h5>
    <div class="row justify-content-between">
        <div class="col-sm-8">
            <div class="card plain-card">
                <div class="card-header py-0">
                    <form [formGroup]="frm" (ngSubmit)="onSearch()" autocomplete="off">
                        <div class="row align-items-center">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-form-field [appearance]="configService.matFormFieldFilter" class="w-100">
                                            <mat-label>Select District</mat-label>
                                            <mat-select formControlName="districtIdFltr">
                                                <mat-option *ngFor="let dist of districtNameArr" [value]="dist.value">{{
                                                    dist.text }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field [appearance]="configService.matFormFieldFilter" class="w-100">
                                            <mat-label> Name</mat-label>
                                            <input id="colliery_name" matInput formControlName="collaryNameFltr"
                                                maxlength="200">
                                            <mat-error>
                                                <span class="text-danger"
                                                    *ngIf="f['collaryNameFltr'].errors?.['pattern']">Please enter valid
                                                    collary name.</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <button mat-raised-button class="btn btn-secondary w-100" type="submit">
                                    <i class="fa-solid fa-magnifying-glass me-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">

                        <ng-container matColumnDef="rowNumber">
                            <th mat-header-cell *matHeaderCellDef>Sr.No </th>
                            <td mat-cell *matCellDef="let element">{{element.rowNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="collieryName">
                            <th mat-header-cell *matHeaderCellDef>Collary Name </th>
                            <td mat-cell *matCellDef="let element">{{element.collieryName | uppercase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef>District</th>
                            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="collieryAddress">
                            <th mat-header-cell *matHeaderCellDef>Address </th>
                            <td mat-cell *matCellDef="let element">{{element.collieryAddress}}</td>
                        </ng-container> -->

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center">
                                    <button mat-icon-button class="bg-dark bg-opacity-10 text-dark mx-2"
                                        (click)="editCollaryRecord(element.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button class="bg-danger bg-opacity-10 text-danger"
                                        (click)="deleteCollaryRecord(element)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr class="mat-row p-2 w-100" *matNoDataRow col>
                            <td class="alert alert-danger text-center m-2 mt-2" colspan="4">No data found </td>
                        </tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[10]" [length]="totalRows" (page)="pageChanged($event)"
                        showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card plain-card">
                <div class="card-header">
                    Register Colleries
                </div>
                <div class="card-body">
                    <form [formGroup]="frmCollary" (ngSubmit)="onSubmitCollary()" autocomplete="off">
                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                            <mat-label>Collary Name</mat-label>
                            <input id="colliery_name" matInput formControlName="collieryName" maxlength="200">
                            <mat-error *ngIf="fc['collieryName'].errors">
                                <span class="text-danger" *ngIf="fc['collieryName'].errors?.['required']">Please enter
                                    collary name.</span>
                                <span class="text-danger" *ngIf="fc['collieryName'].errors?.['pattern']">Please enter
                                    valid collary name.</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                            <mat-label>Select District</mat-label>
                            <mat-select formControlName="districtId">
                                <mat-option *ngFor="let dist of districtNameArr" [value]="dist.value">{{ dist.text }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fc['districtId'].errors">
                                <span class="text-danger" *ngIf="fc['districtId'].errors?.['required']">Please select
                                    district.</span>
                            </mat-error>
                        </mat-form-field>
                    
                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                            <mat-label>Contact Person Mobile No.</mat-label>
                            <input id="colliery_name" matInput formControlName="contactNo" maxlength="200">
                            <mat-error *ngIf="fc['contactNo'].errors">
                                <span class="text-danger" *ngIf="fc['contactNo'].errors?.['pattern']">Please enter
                                    valid Contact No.</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                            <mat-label>Contact Email ID</mat-label>
                            <input id="colliery_name" matInput formControlName="emailId" maxlength="200">
                            <mat-error *ngIf="fc['emailId'].errors">
                                <span class="text-danger" *ngIf="fc['emailId'].errors?.['pattern']">Please enter
                                    valid email Id</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="collieryAddress" #search maxlength="500"></textarea>
                            <mat-error>
                                <span class="text-danger" *ngIf="fc['collieryAddress'].errors?.['required']">Please
                                    enter address.</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="mb-3 position-relative">
                            <agm-map [latitude]="configService.lat" [zoom]="6" [longitude]="configService.long"
                                (mapReady)="onMapReady($event)"></agm-map>
                                <button class="btn-map-close" (click)="removeShape()" *ngIf="isShapeDrawn"
                                aria-label="Remove Shape"><i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field [appearance]="configService.matFormField" class="w-100">
                                    <mat-label>Latitude</mat-label>
                                    <input id="colliery_name" [readonly]="true" matInput formControlName="latitude" maxlength="200">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field [appearance]="configService.matFormField" class="w-100">
                                    <mat-label>Longitude</mat-label>
                                    <input id="colliery_name"  [readonly]="true"  matInput formControlName="longitude" maxlength="200">
                                </mat-form-field>
                            </div>
                           
                            <!-- <div class="col-sm-auto">
                                <button mat-mini-fab color="warn">
                                    <mat-icon>location_on</mat-icon>
                                </button>
                            </div> -->
                        </div>
                        <mat-form-field [appearance]="configService.matFormField" class="w-100 mb-3">
                            <mat-label>Remark</mat-label>
                            <textarea matInput formControlName="remark" #search maxlength="500"></textarea>
                        </mat-form-field>
                        <div class="d-flex align-items-center justify-content-between">
                            <button type="reset" mat-raised-button class="btn-outline-main"
                                (click)="onCancelRecord()">Cancel</button>
                            <button type="submit" mat-raised-button class="btn-main">{{ isEdit ? 'Update' : 'Submit'
                                }}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>