agm-map{
    width: 100%;
    height: 250px;
}

#colliery_name {
    text-transform: uppercase
}
.btn-map-close{
    position: absolute;
    border: 0;
    top: 5px;
    left: 77px;
    padding: 2px 7px;
    background-color: #fff;
    color: #777;
    border-radius: 2px;
}