<div class="container-fluid">
    <div class="page-heading">Consumer Dashboard</div>

    <div class="row mb-3" id="dash-stats">
        <div class="col-sm-3">
            <div class="card dash-card">
                <div class="card-header">
                    <img src="assets/images/consumer-dashboard/AllocatedQty.svg" class="dash-icon blue">
                    Allocated Qty.
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm text-center border-end">
                            <h4>10,000</h4>
                            <small>Allocated</small>
                        </div>
                        <div class="col-sm text-center">
                            <h4>2,320</h4>
                            <small>Lifted</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card dash-card">
                <div class="card-header">
                    <img src="assets/images/consumer-dashboard/ChallanCreated.svg" class="dash-icon darkblue">
                    Challan Created
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm text-center">
                            <h4>563</h4>
                            <small>Challan</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card dash-card">
                <div class="card-header">
                    <img src="assets/images/consumer-dashboard/Fines-Challan.svg" class="dash-icon violet">
                    Fines/Challan
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm text-center border-end">
                            <h4>0</h4>
                            <small>Paid</small>
                        </div>
                        <div class="col-sm text-center">
                            <h4>0</h4>
                            <small>Payable</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card dash-card">
                <div class="card-header">
                    <img src="assets/images/consumer-dashboard/OwnVehicleRegistered.svg" class="dash-icon yellow">
                     Owner Vehicle Registered
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm text-center">
                            <h4>135</h4>
                            <small>Vehicle</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <div class="card dash-card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-6">Lifting Chart</div>
                        <div class="col-sm-3 form-container">
                            <select class="form-select form-select-sm">
                                <option value="" [disabled]="true">Sep 2022</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-8" id="areaChart">
                                <apx-chart #areaChart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                                    [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis"
                                    [labels]="chartOptions.labels" [legend]="chartOptions.legend" [title]="chartOptions.title"
                                    [subtitle]="chartOptions.subtitle"></apx-chart>
                        </div>
                        <div class="col-sm-4 border-start">
                            <div class="d-flex flex-column border-bottom mb-3">
                                <img src="assets/images/consumer-dashboard/MonthlyAllocated.svg"
                                    class="dash-icon yellow mb-2">
                                <small>Monthly Allocated Quantity</small>
                                <h4 class="my-2 text-main">1367</h4>
                            </div>
                            <div class="d-flex flex-column">
                                <img src="assets/images/consumer-dashboard/MonthlyLifting.svg"
                                    class="dash-icon blue mb-2">
                                <small>MonthlyLifting</small>
                                <h4 class="my-2 text-info">731</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card dash-card">
                <div class="card-header">Latest Challan Created</div>
                <div class="card-body">
                    <div class="fixed-height">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Vehicle No. :</span> <span class="challan-data">WB
                                            11 TB 5089</span></div>
                                    <div><span class="challan-label">MDTC_DO_No : </span> <span
                                            class="challan-data">2083</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Colliery_Name : </span> <span
                                            class="challan-data">BARMURI_PROJECT</span></div>
                                    <div><span class="challan-label">Challan No : </span> <span
                                            class="challan-data">8196750</span></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><span class="challan-label">Quantity :</span> <span class="challan-data"> 18
                                            tons</span></div>
                                </div>
                                <div class="d-flex justify-content-end align-items-center">
                                    <div><span class="text-main">20/09/2022 01:23:00PM</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>