<div id="loginbox" class="d-flex align-items-center justify-content-between">
  <div class="container">
    <form [formGroup]="forgetFrm">
      <div class="row justify-content-center">
        <div class="col-sm-4" *ngIf="!otpSendFlag">
          <div class="card card-body">
            <h5>Forgot Password</h5>
            <div class="mb-1">
              <ng-container *ngIf="!otpSendFlag">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Enter Mobile No</mat-label>
                  <input matInput formControlName="mobileNumber" maxlength="10">
                  <mat-error *ngIf="forgetFrm.controls['mobileNumber'].errors">
                    <span *ngIf="forgetFrm.controls['mobileNumber']?.hasError('required')"> Please Enter Mobile
                      No</span>
                    <span *ngIf="forgetFrm.controls['mobileNumber']?.hasError('pattern')"> Please Enter Valid Mobile
                      No</span>
                  </mat-error>
                </mat-form-field>
                <div class="mb-3">
                  <button mat-raised-button class="btn-main w-100 py-1" (click)="sendOtp()">Send OTP</button>
                </div>
                <div class="d-flex justify-content-between">
                  <a routerLink="/home" class="btn btn-light text-dark btn-sm">Back to Home</a>
                  <a routerLink="/login" class="btn btn-light text-dark btn-sm">Back to Login</a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-sm-8" *ngIf="otpSendFlag">
          <div class="card card-body">
            <h5>Forgot Password</h5>
            <div class="row">
              <div class="col-sm-6">
                <ng-container >
                  <div class="mb-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>OTP</mat-label>
                      <input matInput formControlName="otpNumber"
                        (keypress)="validation.noSpaces($event); validation.onlyDigitsExcludeZeroAtStart($event)"
                        [maxLength]="6">
                      <mat-error *ngIf="forgetFrm.controls['otpNumber'].errors">
                        <span *ngIf="forgetFrm.controls['otpNumber']?.hasError('required')"> Please Enter OTP</span>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="mb-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>New Password</mat-label>
                      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" maxlength="20">
                      <mat-error *ngIf="forgetFrm.controls['password'].errors">
                        <span *ngIf="forgetFrm.controls['password']?.hasError('required')"> Please Enter New Password
                        </span>
                        <span *ngIf="forgetFrm.controls['password']?.hasError('pattern')"> Please Enter Valid New
                          Password
                        </span>
                      </mat-error>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>


                  <div class="mb-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput formControlName="cpassword" [type]="hide1 ? 'password' : 'text'" maxlength="20">
                      <mat-error *ngIf="forgetFrm.controls['cpassword'].errors">
                        <span *ngIf="forgetFrm.controls['cpassword']?.hasError('required')"> Please Enter Confirm
                          Password</span>
                        <span *ngIf="forgetFrm.controls['cpassword']?.hasError('pattern')"> Please Enter Valid Confirm
                          Password</span>
                      </mat-error>
                      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="mb-3">
                    <button mat-raised-button class="btn-main w-100 py-1" (click)="onSubmit()">Save</button>
                  </div>
                </ng-container>
              </div>
              <div class="col-sm-6">
                <p class="mb-0 text-muted">Note : </p>
                <ul class="text-muted">
                  <li>Please dont refresh the page.</li>
                  <li>Password length must be at least 8 characters</li>
                  <li>Password must contain at least one character</li>
                  <li>Password must contain at least one numeric character</li>
                  <li>Password must contain at least one special character</li>
                </ul>
                <div class="d-flex justify-content-between">
                  <a routerLink="/home" class="btn btn-light text-dark btn-sm">Back to Home</a>
                  <a routerLink="/login" class="btn btn-light text-dark btn-sm">Back to Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>