<div id="loginbox" class="d-flex align-items-center justify-content-between">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card card-body">
                  <form [formGroup]="forgetFrm" >
                    <h5>Forget Password</h5>
                    <div class="mb-0">
                      <ng-container *ngIf="!otpSendFlag">
                      <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Mobile No</mat-label>
                            <input matInput  formControlName="mobileNumber" maxlength="10">
                            <mat-error *ngIf="forgetFrm.controls['mobileNumber'].errors">
                              <span *ngIf="forgetFrm.controls['mobileNumber']?.hasError('required')"> Please Enter Mobile No</span>
                              <span *ngIf="forgetFrm.controls['mobileNumber']?.hasError('pattern')"> Please Enter Valid Mobile No</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="mb-0">
                          <button mat-raised-button class="btn-main w-100 py-1" (click)="sendOtp()">Send OTP</button>
                      </div>
                    </ng-container>
                       <ng-container *ngIf="otpSendFlag">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Otp</mat-label>
                            <input matInput  formControlName="otpNumber"  (keypress)="validation.noSpaces($event); validation.onlyDigitsExcludeZeroAtStart($event)" [maxLength]="6">
                            <mat-error *ngIf="forgetFrm.controls['otpNumber'].errors">
                              <span *ngIf="forgetFrm.controls['otpNumber']?.hasError('required')"> Please Enter OTP</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>New Password</mat-label>
                            <input matInput  formControlName="password">
                            <mat-error *ngIf="forgetFrm.controls['password'].errors">
                              <span *ngIf="forgetFrm.controls['password']?.hasError('required')"> Please Enter New Password </span>
                              <span *ngIf="forgetFrm.controls['password']?.hasError('pattern')"> Please Enter Valid New Password </span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput  formControlName="cpassword">
                            <mat-error *ngIf="forgetFrm.controls['cpassword'].errors">
                              <span *ngIf="forgetFrm.controls['cpassword']?.hasError('required')"> Please Enter Confirm Password</span>
                              <span *ngIf="forgetFrm.controls['cpassword']?.hasError('pattern')"> Please Enter Valid Confirm Password</span>
                            </mat-error>
                        </mat-form-field>
                        <div class="mb-0">
                          <button mat-raised-button class="btn-main w-100 py-1" (click)="onSubmit()">Save</button>
                      </div>
                       </ng-container>
                       
                    </div>
                   
                  </form>

                </div>
            </div>
        </div>
    </div>
</div>
