<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <mat-tab-group>
                <mat-tab label="ECL Monthly Allocation">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card plain-card">
                                    <div class="card-header">
                                      <div class="row col-2">
                                        <mat-form-field [appearance]="configService.matFormField" class="w-100">
                                          <mat-label>Month & Year</mat-label>
                                          <mat-select [formControl]="monthlySearch">
                                            <mat-option *ngFor="let yearMonth of yearArray" [value]="yearMonth"  >
                                              {{yearMonth}}
                                            </mat-option>
                                          </mat-select>
                                          <!-- <mat-error *ngIf="f.districtId.errors">
                                            <span *ngIf="f.districtId?.hasError('required')">Please Select District</span>
                                          </mat-error> -->
                                          </mat-form-field>
                                      </div>

                                    </div>
                                    <div class="card-body">
                                        Table

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Month & Year</mat-label>
                                                <input matInput placeholder="Month & Year">
                                            </mat-form-field>

                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Colliery Name</mat-label>
                                                <input matInput placeholder="Enter Colliery Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Allocated Quantity</mat-label>
                                                <input matInput placeholder="Enter Allocated Quantity">
                                            </mat-form-field>
                                        </div>
                                        <div class="text-end">
                                            <button class="btn btn-main" type="submit">Submit</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Coal Distribution">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card plain-card">
                                    <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-body">
                                        table 1
                                        <div>
                                            <button class="btn btn-main" type="submit">Distribute</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card plain-card">
                                    <!-- <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div> -->
                                    <div class="card-body">
                                        table 2
                                        <div class="d-flex align-items-center justify-content-between">
                                            <button class="btn bg-opacity-10 text-dark" type="submit">Edit</button>
                                            <button class="btn btn-main" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="MSME Consumer Booking">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-body">
                                        table 1
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card plain-card">
                                    <div class="card-body">
                                        table 2
                                        <div class="text-end my-3">
                                            <button class="btn btn-main" type="submit">Accept Payment for ECL </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="ECL Payment">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card plain-card">
                                    <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-body">
                                        table 1
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card plain-card">
                                    <div class="card-body">
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Booking ID</mat-label>
                                                <input matInput placeholder="Enter Booking ID">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>WBMDTCL Account</mat-label>
                                                <mat-select>
                                                    <mat-option>Opt 1</mat-option>
                                                    <mat-option>Opt 2</mat-option>
                                                    <mat-option>Opt 3</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>ECL Account</mat-label>
                                                <mat-select>
                                                    <mat-option>Select from Master</mat-option>
                                                    <mat-option>Opt 2</mat-option>
                                                    <mat-option>Opt 3</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Quantity</mat-label>
                                                <input matInput placeholder="Enter WBMDTCL Account">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Amount</mat-label>
                                                <input matInput placeholder="Enter WBMDTCL Account">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Transaction Date</mat-label>
                                                <input matInput placeholder="Enter WBMDTCL Account">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>UTR Number</mat-label>
                                                <input matInput placeholder="Enter WBMDTCL Account">
                                            </mat-form-field>
                                        </div>
                                        <div class="text-end">
                                            <button class="btn btn-main" type="submit">Submit</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Sales Order">


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-body">
                                        table
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Booking ID</mat-label>
                                                <input matInput placeholder="Enter Booking ID">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Colliery Name</mat-label>
                                                <input matInput placeholder="Enter Colliery Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Qantity</mat-label>
                                                <input matInput placeholder="Enter Qantity">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Sales Order no</mat-label>
                                                <input matInput placeholder="Enter Sales Order no">
                                            </mat-form-field>
                                        </div>
                                        <div class="">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Sales order Date</mat-label>
                                                <input matInput placeholder="Enter Sales order Date">
                                            </mat-form-field>
                                        </div>
                                        <div class="text-end">
                                            <button class="btn btn-main" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Delivery Order">


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <mat-form-field appearance="legacy" class="">
                                            <mat-label>Month & Year</mat-label>
                                            <input matInput placeholder="Enter Month & Year">
                                        </mat-form-field>
                                    </div>
                                    <div class="card-body">
                                        table 1
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        table

                                        <div class="text-end">
                                            <button class="btn btn-main" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
