<div class="container">
    <h5 class="page-heading">Application for Coal Allocation</h5>

    <div class="form-container">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <div class="form-label">Enter PAN Number</div>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Enter PAN Number</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-1">
                <button mat-button class="btn btn-main">Search</button>
            </div>
        </div>
        <hr class="mt-1 mb-3">
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Enter PAN Number</div>
            </div>
            <div class="col-sm-10">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="me-3">Individual / Proprietorship</mat-radio-button>
                    <mat-radio-button value="2">Organization</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Organization Name</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <div class="form-label">Organization Type</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Organization Number</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Number</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <div class="form-label">Organization Email ID</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Email ID</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Contact Person Name</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Contact Person Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <div class="form-label">Contact Person Mob. No.</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Contact Person Mob. No.</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Organization Address</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Address</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <div class="form-label">Organization Pincode</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization Pincode</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-sm-2">
                <div class="form-label">Organization State</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization State</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <div class="form-label">Organization District</div>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Organization District</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <h6>Application Details</h6>
        <div class="row">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="form-label">Select Year</div>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Select Year</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row align-items-center mb-2">
                    <div class="col-sm-4">
                        <div class="form-label">Allocated Quantity</div>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Font size</mat-label>
                            <input matInput type="text" placeholder="Quantity">
                            <span matSuffix>Tonnes</span>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="form-label">Reason for Applying</div>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Reason for Applying</mat-label>
                            <textarea matInput rows="5"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>

        <table class="table dashboard-table table-bordered upload-table">
            <thead>
                <tr>
                    <th>Document Name</th>
                    <th>Document Number</th>
                    <th>Upload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PAN</td>
                    <td>
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>PAN Number</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa-solid fa-upload me-2"></i>Upload a file</button>
                            <input type="file" name="myfile" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>GST</td>
                    <td>
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>GST Number</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa-solid fa-upload me-2"></i>Upload a file</button>
                            <input type="file" name="myfile" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Incorporation Certificate</td>
                    <td>
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Certificate Issue Date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa-solid fa-upload me-2"></i>Upload a file</button>
                            <input type="file" name="myfile" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>District Recommendation Letter</td>
                    <td>
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Letter Number</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa-solid fa-upload me-2"></i>Upload a file</button>
                            <input type="file" name="myfile" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row align-items-center">
            <div class="col-sm-2">
                <div class="form-label">Enter OTP</div>
            </div>
            <div class="col-sm-3">
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Enter OTP</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-1">
                <button mat-button class="btn btn-main">Send OTP</button>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary"><i class="fa-regular fa-circle-xmark me-2"></i>Cancel</button>
            <button class="btn btn-success"><i class="fa-solid fa-upload me-2"></i>Submit</button>
        </div>
    </div>
</div>
