<div class="container-fluid">
    <div class="row my-5">
        <div class="col-md-12 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <div class="card card-body rounded-3">
                            <img src="assets/images/404.png" class="img-fluid">
                            <button mat-raised-button  class="btn btn-main mx-auto px-2" routerLink="../dashboard" matTooltip="Go To Home">
                                <mat-icon>arrow_back</mat-icon>Go To Home </button>
                            <!-- <button mat-raised-button  type="button" class="mb-1 px-2 mnw-unset"  matTooltip="Back"> <mat-icon>arrow_back</mat-icon> </button> -->
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>