<div class="container-fluid">
  <h5 class="page-heading">Application Approval</h5>
  <div class="card plain-card border-0">
      <div class="card-body">
          <div class="card plain-card mb-3">
            <div class="card-header">Remark Details</div>
            <div class="card-body">
              <table mat-table #remark [dataSource]="remarkTable" class="dashboard-table w-100">
                <ng-container matColumnDef="srno">
                  <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                  <td mat-cell *matCellDef="let element let i = index">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="approverTypeName">
                  <th mat-header-cell *matHeaderCellDef>Approval Level</th>
                  <td mat-cell *matCellDef="let element"> {{element.approverTypeName}} </td>
                </ng-container>
                <ng-container matColumnDef="remark">
                  <th mat-header-cell *matHeaderCellDef> Remark </th>
                  <td mat-cell *matCellDef="let element"> {{element.remark ? element.remark:'-'}} </td>
                </ng-container>
                <ng-container matColumnDef="applicationStatusText">
                  <th mat-header-cell *matHeaderCellDef>Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge"
                      [ngClass]="{'bg-success bg-opacity-10 text-white': element?.applicationStatusText =='Approved','bg-danger bg-opacity-10 ': element?.applicationStatusText=='Rejected' ,'bg-warning text-dark bg-opacity-10': (element?.applicationStatusText == null || element?.applicationStatusText =='Pending') }">
                      {{element.applicationStatusText}}
                    </span>
                  </td>
                </ng-container>
                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                  <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="remarkTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: remarkTableColumns;"></tr>
              </table>
            </div>
          </div>

          <div class="card plain-card mb-3">
            <div class="card-header">Consumer Details</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-container">
                    <div class="row gy-2">
                      <div class="col-sm-4">
                        <div class="form-label">Application No.</div>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.applicationNumber}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Owner Type</div>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.applicationType == 1 ?
                          'Individual / Proprietorship':applicationDetails?.applicationType == 2 ? 'Organization ':'-'}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">District</div>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.districtName ? applicationDetails?.districtName :'-'}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Name</div>
                      </div>
                      <div class="col-sm-8">
                        
                        <div class="form-data">{{applicationDetails?.applicationType == 1 ? applicationDetails?.applicantName : applicationDetails?.organizationName}}</div>
                      </div>
                      <div class="col-sm-4" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-label">Organization Type</div>
                      </div>
                      <div class="col-sm-8" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-data">{{applicationDetails?.organizationTypeName ? applicationDetails?.organizationTypeName
                          :'-'}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Number</div>
                      </div> 
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.applicationType == 1 ? applicationDetails?.applicantMobileNo : applicationDetails?.organizationNumber}}</div>
                      </div>
                      <div class="col-sm-4" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-label">Contact Person Name</div>
                      </div>
                      <div class="col-sm-8" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-data">{{applicationDetails?.contactPersonName ? applicationDetails?.contactPersonName
                          :'-'}}</div>
                      </div>
                      <div class="col-sm-4" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-label">Contact Person Mobile Number</div>
                      </div>
                      <div class="col-sm-8" *ngIf="applicationDetails?.applicationType == 2">
                        <div class="form-data">{{applicationDetails?.contactPersonMobileNo ?
                          applicationDetails?.contactPersonMobileNo :'-'}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Email</div>
                      </div>  
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.applicationType == 1 ? applicationDetails?.applicantEmailId : applicationDetails?.organizationEmail}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Address</div>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.address}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-label">Pincode</div>
                      </div>
                      <div class="col-sm-8">
                        <div class="form-data">{{applicationDetails?.pinCode}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <table mat-table #document [dataSource]="documentTable" class="dashboard-table w-100">
                    <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                      <td mat-cell *matCellDef="let element let i = index">{{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documentName">
                      <th mat-header-cell *matHeaderCellDef>Document Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documentNo">
                      <th mat-header-cell *matHeaderCellDef> Document No </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentNo ? element.documentNo : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef>View </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="text-left mnw-70 d-inline-block px-1">
                          <span> <a class="fa fa-file-alt text-primary" href="{{element?.documentPath}}"
                              target="_blank"></a></span></span>
                      </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                      <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="documentTableColums"></tr>
                    <tr mat-row *matRowDef="let row; columns: documentTableColums;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card plain-card mb-3">
            <div class="card-header">Application Details</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-label">Select Year:</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-data">{{applicationDetails?.applicationYear}}</div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-label">Allocated Quantity:</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-data">{{applicationDetails?.allocatedQty}} Ton</div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-label">Reason for Applying:</div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-data">{{applicationDetails?.reasonForApply |titlecase}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="webStorageService?.getSubUserType() == 3 && applicationTableDetails?.length" >
                  <table mat-table #document [dataSource]="applicationTableDetails" class="dashboard-table w-100">
                    <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                      <td mat-cell *matCellDef="let element let i = index">{{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documentName">
                      <th mat-header-cell *matHeaderCellDef> Document Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef>View </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="text-left mnw-70 d-inline-block px-1">
                          <span> <a class="fa fa-file-alt text-primary" href="{{element?.documentPath}}"
                              target="_blank"></a></span></span>
                      </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                      <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="applTableColums"></tr>
                    <tr mat-row *matRowDef="let row; columns: applTableColums;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="card plain-card mb-3" *ngIf="hideDocumentUpload">
            <div class="card-header">Documents</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Remark</mat-label>
                    <textarea matInput rows="5" placeholder="Enter Remark"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <form [formGroup]="documentFrm">
                    <div class="row">
                      <div class="col-sm-4">
                        <mat-form-field appearance="legacy" class="w-100">
                          <mat-label>Document Name</mat-label>
                          <input matInput placeholder="Document Name" formControlName="documentName">
                          <mat-error *ngIf="documentFrm.controls.documentName.errors">
                            <span *ngIf="documentFrm.controls.documentName?.hasError('required')">Please Enter Document Name</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field appearance="legacy" class="w-100">
                          <mat-label>Document Number</mat-label>
                          <input matInput placeholder="Document Number" formControlName="documentNo">
                          <mat-error *ngIf="documentFrm.controls.documentNo.errors">
                            <span *ngIf="documentFrm.controls.documentNo?.hasError('required')">Please Enter Document No</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-auto">
                        <div class="upload-btn-wrapper">
                          <button class="btn btn-main" type="submit"><i class="fa fa-upload me-2" aria-hidden="true"
                              type></i>Upload</button>
                          <input type="file" (change)="documentUpload($event)">
                          <ng-container *ngIf="isDocumentUpload">
                            <img src="../../../assets/images/success.svg" class="uploadDocImg mx-1 border-0"
                              style="height: 20px; width: 20px;" id="PanImg" alt="Document Uploaded Successfully"
                              title="Document Uploaded Successfully">
                          </ng-container>
            
                        </div>
                      </div>
                      <div class="col-sm-auto">
                        <button class="btn btn-primary" type="reset" (click)="saveDocument()"><i class="fa fa-plus"
                            aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                  <table mat-table #useraddDocument [dataSource]="userDocumentTable" class="dashboard-table w-100">
                    <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                      <td mat-cell *matCellDef="let element let i = index">{{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documentName">
                      <th mat-header-cell *matHeaderCellDef>Document Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documentNo">
                      <th mat-header-cell *matHeaderCellDef> Document No </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef>Action </th>
                      <td mat-cell *matCellDef="let element let i =index">
                        <a class="text-primary me-3" href="{{element?.documentPath}}"
                              target="_blank"><i class="fa fa-file-alt"></i></a>
                        <a class="text-danger" (click)="deleteDocument(i)">
                          <i class="fa-solid fa-trash-can"></i>
                        </a>
                      </td>
                    </ng-container>
                    <tr class="mat-row p-2 w-100" *matNoDataRow col>
                      <td class="alert alert-danger text-center m-2 mt-2" colspan="4">No data found </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="documentTableColums"></tr>
                    <tr mat-row *matRowDef="let row; columns: documentTableColums;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-end" *ngIf="hideApproveButton">
            <button class="btn btn-danger" (click)="approveRejectOrApplication(false)">
              <i class="fa fa-times-circle me-2" aria-hidden="true"></i>
              Reject</button>
            <button class="btn btn-success ms-2" (click)="approveRejectOrApplication(true)">
              <i class="fa-regular fa-circle-check me-2"></i>Approve</button>
          </div>
      </div>
  </div>
</div>