<div class="container-fluid">
    <div class="row mb-3">
        <h4>Remark Details</h4>
        <div class="">
            Table -> sr no , approval level, status, remark.
        </div>
    </div>
    <div class="row mb-4">
        <h4 class="mb-3">Consumer Details</h4>
        <div class="col-sm-6">
            <div class="form-container">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Application No.</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">WB/202236498699</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Owner Type</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Organization</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">District</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Barmuri</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Name</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Kalmita Enterprise</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Organization Type</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Priate Limited</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Number</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">020-8669269475</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Contact Person Name</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Rajeel</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Contact Person Mobile Number</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">8669264767</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Email</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">kalmita@gmail.com</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Address</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">Rameshwaterola Baishanagar Malda, WB</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-label">Pincode</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">73</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            Table-> srno, doc name, doc number,view
        </div>
    </div>

    <div class="row mb-3">
        <h4>Application Details</h4>
        <div class="col-sm-6">
            <div class="row">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Select Year:</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">2022-2023</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Allocated Quantity:</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">1000 Tonnes</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="form-label">Reason for Applying:</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-data">WBDTMC Ltd has a board of board of Directors with chairman, managing
                            director and director as per Companies.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            Table-> srno, doc name, doc number,view
        </div>
    </div>

    <div class="row align-items-baseline mb-3">
        <div class="col-sm-6">
            <h5>Remark</h5>
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h5>Documents</h5>
                <div class="col-sm-4">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Document Name</mat-label>
                        <input matInput placeholder="Document Name">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Document Number</mat-label>
                        <input matInput placeholder="Document Number">
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-main"><i class="fa fa-upload me-2"
                                aria-hidden="true"></i>Upload</button>
                                <input type="file">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-primary"><i class="fa fa-plus"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="">
                table
            </div>
        </div>
    </div>
    <div class="mb-5 float-end">
        <button mat-raised-button color="primary" class="me-3">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            Reject</button>
        <button mat-raised-button color="accent"><i class="fa fa-upload" aria-hidden="true"></i>Approve</button>
    </div>
</div>