<div class="container-fluid" id="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex align-items-center">
                    <a class="me-4 pe-4 border-end border-secondary" routerLink="screen-reader-access">Screen Reader Access</a>
                    <a class="me-4 pe-4 border-end border-secondary" routerLink="#">Skip to Main Content</a>
                    <div class="d-flex align-items-center">
                        <span class="me-2">Color -</span>
                        <div class="btn-group btn-group-sm ms-2" role="group" aria-label="Theme">
                        <button type="button" class="btn-color white" (click)="onClickThemeChange('light')">
                        </button>
                        <button type="button" class="btn-color black" (click)="onClickThemeChange('dark')">
                        </button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-end">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="d-flex align-items-center me-4 pe-4 border-end border-secondary">
                        <span class="me-2">Font Size -</span>
                        <button type="button" class="btn-font" id="smallSize" (click)="onChangeFontSize('small')">A-</button>
                        <button type="button" class="btn-font mx-2" (click)="onChangeFontSize('medium')">A</button>
                        <button type="button" class="btn-font white" (click)="onChangeFontSize('large')">A+</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="me-2">Languages : </span>
                        <select>
                            <option value="English">English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="menubar">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-0">
                <a class="navbar-brand" href="#">
                    <div class="d-flex align-items-center">
                        <img src="assets/images/WBMDTCL_Logo.png">
                        <div class="logo-right">
                            <h5>WBMDTCL</h5>
                            <p>West Bengal Mineral Development<br>& Trading Corporation Ltd.</p>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 border-start border-end px-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="about-us">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Application
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" routerLink="coal-allocation-web">Coal Allocation</a></li>
                            </ul>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login" routerLink="#"><i class="fa-solid fa-user me-2"></i>Login</a>
                        </li>
                    </ul>
                    <div class="d-flex current-date text-end">
                        Monday, Sep 19 2022<br>11:09 AM
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>