<div class="container-fluid">
    <h5 class="page-heading">MSME Application List</h5>
    <div class="row justify-content-between">
        <div class="col-sm-12">
            <div class="card plain-card">
                <div class="card-header pb-0">
                    <form [formGroup]="filterForm" (ngSubmit)="searchData()">
                        <div class="row align-items-center">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <mat-form-field class="example-full-width" [appearance]="configService.matFormField" class="w-100">
                                            <mat-label>Select Year</mat-label>
                                            <mat-select formControlName="applicationYear">
                                                <mat-option *ngFor="let year of yearArray" [value]="year">{{year}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field class="example-full-width" [appearance]="configService.matFormField" class="w-100">
                                            <mat-label>Application Number/Consumer Name</mat-label>
                                            <input matInput placeholder="Application Number/Consumer Name" formControlName="applicationNumber">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-auto text-end">
                                        <button type="submit" mat-raised-button class="btn-secondary ">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" matSort class="dashboard-table w-100">
                            <ng-container matColumnDef="srno">
                                <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                                <td mat-cell *matCellDef="let element let i = index">{{((pageNumber + 1) * 10 + i + 1)-20}} </td>
                            </ng-container>
                            <ng-container matColumnDef="applicationNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.applicationNumber}} </td>
                            </ng-container>
                            <ng-container matColumnDef="application_date">
                                <th mat-header-cell *matHeaderCellDef> Application Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.applicationDate}} </td>
                            </ng-container>
                            <ng-container matColumnDef="applicationYear">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.applicationYear}} </td>
                            </ng-container>
                            <ng-container matColumnDef="allocatedQty">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Allocated<br>Quantity </th>
                                <td mat-cell *matCellDef="let element"> {{element.allocatedQty}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="level1Status">
                                <th mat-header-cell *matHeaderCellDef> Level-1 Status </th>
                                <td mat-cell *matCellDef="let element"><h6 class="mb-0"><span [class]="element.coalApplicationApproverDetails[0].applicationStatusText == 'Pending' ? 'badge bg-warning bg-opacity-25 text-dark fw-normal' : element.coalApplicationApproverDetails[0].applicationStatusText == 'Approved' ? 'badge bg-success bg-opacity-25 text-success fw-normal' : 'badge bg-danger bg-opacity-25 text-danger fw-normal'">{{element.coalApplicationApproverDetails[0].applicationStatusText}}</span></h6> </td>
                            </ng-container> -->
                            <ng-container matColumnDef="level2Status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element"><h6 class="mb-0"><span [class]="element.coalApplicationApproverDetails[1].applicationStatusText == 'Pending' ? 'badge bg-warning bg-opacity-25 text-dark fw-normal' : element.coalApplicationApproverDetails[1].applicationStatusText == 'Approved' ? 'badge bg-success bg-opacity-25 text-success fw-normal' : 'badge bg-danger bg-opacity-25 text-danger fw-normal'"> {{element.coalApplicationApproverDetails[1].applicationStatusText}} </span></h6></td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="header-row-first-group">
                                <th mat-header-cell *matHeaderCellDef 
                                    [attr.colspan]="7"> 
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-row-second-group">
                                <th mat-header-cell *matHeaderCellDef 
                                    [attr.colspan]="2"> 
                                    Upload Document 
                                </th>
                            </ng-container> -->
                            <ng-container matColumnDef="AGREMENT">
                                <th mat-header-cell *matHeaderCellDef> AGREEMENT </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <div class="upload-btn-wrapper">
                                    <input type="file" (change)="uploadMsmeDoc($event, element.id, 1)" #fileInput>
                                    <button type="button" class="btn btn-main" *ngIf="!element.aggrementDocumentPath" (click)="fileInput.click()"><i class="fa fa-upload" aria-hidden="true"></i></button> 
                                </div>
                                <button type="button"  *ngIf="element.aggrementDocumentPath" class="btn bg-info bg-opacity-10 text-info"  (click)="viewDocument(element.aggrementDocumentPath)"><i class="fa-solid fa-file-pdf"></i></button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="SECURITY DEPOSIT">
                                <th mat-header-cell *matHeaderCellDef> SECURITY DEPOSIT </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <div class="upload-btn-wrapper">
                                    <input type="file" (change)="uploadMsmeDoc($event, element.id, 2)" #fileInput1>
                                    <button type="button"  *ngIf="!element.securityDocumentPath" class="btn btn-main" (click)="fileInput1.click()"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                </div>
                                <button type="button"  *ngIf="element.securityDocumentPath" class="btn bg-info bg-opacity-10 text-info" (click)="viewDocument(element.securityDocumentPath)"><i class="fa-solid fa-file-pdf"></i></button>
                                </td>
                            </ng-container>
                            <!-- <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></tr> -->
                            <tr class="mat-row p-2 w-100" *matNoDataRow col>
                                <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <h5>To download sample agreement draft, click here.</h5><button class="btn bg-info bg-opacity-10 text-info"><i class="fa-solid fa-file-pdf"></i></button>
                        <mat-paginator #paginator [pageSizeOptions]="[10]" [length]="totalRows" (page)="pageChanged($event)"
                        showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>