<div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
    <div class="swal2-success-circular-line-left"></div>
    <span class="swal2-success-line-tip"></span>
    <span class="swal2-success-line-long"></span>
    <div class="swal2-success-ring"></div>
    <div class="swal2-success-fix"></div>
    <div class="swal2-success-circular-line-right"></div>
</div>
<h6 class="text-center mb-3">Are You Sure?</h6>
<div class="d-flex justify-content-between">
    <button mat-button class="btn-outline-main" (click)=" dialogRef.close('No')">Cancel</button>
    <button mat-button class="btn-main" (click)=" dialogRef.close('Yes')">Logout</button>
</div>