<nav class="navbar navbar-expand-lg py-1">
    <div class="container-fluid">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="d-flex align-content-end w-100 align-items-center" id="navbarSupportedContent">
            <div class="small fw-bold">
                {{this.title}}
            </div>
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn btn-light me-1" (click)="toggleSidebar()">
                    <mat-icon>menu</mat-icon>
                </a>
                <a class="btn btn-light" (click)="onClickThemeChange('light')" *ngIf="activeTheme != 'light'">
                    <mat-icon>light_mode</mat-icon>
                </a>
                <a class="btn btn-light" (click)="onClickThemeChange('dark')" *ngIf="activeTheme == 'light'">
                    <mat-icon>dark_mode</mat-icon>
                </a>
                <!-- <a class="btn btn-light">
                    <i class="fa-solid fa-search"></i>
                </a> -->
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/user.jpg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" (click)="openChangePasswordModal()">Change Password</a></li> 
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav>