<div class="container-fluid" id="home-banner">
    <div class="container">
        <div class="row align-items-center gx-0">
            <div class="col-sm-7 pt-5" id="left-data">
                <h1>WEST BENGAL</h1>
                <h4>Mineral Development &<br>Trading Corporation Ltd.</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mb-2 gx-2">
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotalCollieries.svg"></div>
                                    </div>
                                    <h4>{{dashboardDetails?.collaries}}</h4>
                                    <p>Total Collieries</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotaleChallan.svg"></div>
                                    </div>
                                    <h4>{{dashboardDetails?.consumer}}</h4>
                                    <p>Total Consumers</p>
                                    <!-- <small>(This Month)</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row gx-2 mb-3">
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotaleChallan.svg"></div>
                                    </div>
                                    <h4>{{dashboardDetails?.monthlyQTY}}</h4>
                                    <p>Total Monthly Quantity</p>
                                    <small>(This Month)</small>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotalVehicle.svg"></div>
                                    </div>
                                    <h4>{{dashboardDetails?.vechicle}}</h4>
                                    <p>Total Vehicle Registered</p>
                                </div>
                            </div>
                        </div>

                        <h6>Features of the system</h6>
                        <ul>
                            <li>Online Coal Allocation Application</li>
                            <li>Transparent e-distribution of Coal</li>
                            <li>Online e-TP cum invoice generation</li>
                            <li>Vehicle Tracking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>