<div class="container-fluid" id="home-banner">
    <div class="container">
        <div class="row align-items-center gx-0">
            <div class="col-sm-7 pt-5" id="left-data">
                <h1>WEST BENGAL</h1>
                <h4>Mineral Development &<br>Trading Corporation Ltd.</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mb-2 gx-2">
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotalCollieries.svg"></div>
                                    </div>
                                    <h4>56</h4>
                                    <p>Total Collieries</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotaleChallan.svg"></div>
                                    </div>
                                    <h4>4567</h4>
                                    <p>Total eChallan Generated</p>
                                    <small>(Till Date)</small>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-2">
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotaleChallan.svg"></div>
                                    </div>
                                    <h4>35</h4>
                                    <p>Total Echallan Generated</p>
                                    <small>(Today)</small>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6">
                                <div class="card card-body h-100">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon"><img src="assets/images/TotalVehicle.svg"></div>
                                    </div>
                                    <h4>567</h4>
                                    <p>Total Vehicle Registered</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>