<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-0">
            <div class="dialog card border-0">
                <div class="card-header border-bottom-0 bg-transparent p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="fw-bold">
                            {{dialogData?.cardTitle}}
                        </div>
                        <div class="text-end">
                            <button type="button" class="dlg-close mnw-auto lh-sm" mat-button mat-dialog-close><i
                                    class="fas fa-times"></i></button>
                        </div> -->
                        <h5 mat-dialog-title> {{dialogData?.cardTitle}}</h5>
                        <!-- <button type="submit" class="btn-modal-close" mat-mini-fab>
                            <mat-icon>close</mat-icon>
                        </button> -->
                        <div class=" text-end">
                            <button type="button" class="dlg-close mnw-auto lh-sm btn-modal-close" mat-mini-fab mat-dialog-close><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center px-3 py-0">
                    <!-- <div class="row mb-3">
                        <div class="col-12">
                            <div class="text-center">
                                <p class="mb-0" *ngIf="dialogData?.p1">{{dialogData?.p1}}</p>
                                <p class="mb-0" *ngIf="dialogData?.p2">{{dialogData?.p2}}</p>
                                <div *ngIf="data.inputType">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Remark</mat-label>
                                        <textarea matInput [formControl]="remark" rows="4"> </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span
                            class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                                class="swal2-x-mark-line-right"></span></span></div> -->
                                <!-- <div class="fw-bold"> -->
                                    <!-- {{dialogData?.cardTitle}} -->
                                <!-- </div> -->
                                <p class="mb-0" *ngIf="dialogData?.p1">{{dialogData?.p1}}</p>
                                <p class="mb-0" *ngIf="dialogData?.p2">{{dialogData?.p2}}</p>
                                <div *ngIf="data.inputType">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Remark</mat-label>
                                        <textarea matInput [formControl]="remark" rows="4"> </textarea>
                                    </mat-form-field>
                                </div>

                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <button type="button" mat-stroked-button class="me-2 btn-outline-danger" type="button"
                                mat-dialog-close (click)="onNoClick('No')"
                                *ngIf="dialogData?.cancelBtnText">{{dialogData?.cancelBtnText}}</button>
                            <button mat-raised-button cdkFocusInitial (click)="onNoClick('Yes')" class="btn-danger"
                                type="submit"
                                *ngIf="dialogData?.successBtnText ">{{dialogData?.successBtnText}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
