<h5 mat-dialog-title>Change Password</h5>
<div class="mb-0">
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Current password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>
<div class="mb-0">
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>New password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>
<div class="mb-2">
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Retype password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>
<div class="d-flex justify-content-between">
    <button mat-button class="btn-outline-main">Cancel</button>
    <button mat-button class="btn-main">Change Password</button>
</div>