<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center pb-5">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <img src="assets/images/access-denied.svg" class="img-fluid w-50">
                            <h5 class="fw-normal text-danger mb-0">You are not Authorized to Access this Page</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>