#consumer-stats .card-body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#consumer-stats .card-body h4,
#consumer-stats .card-body p,
#consumer-stats .card-body small{
    margin-bottom: 0;
}
#consumer-stats .card-body h4{
    color: var(--main-color);
}
#consumer-stats .card-body p{
    font-size: 0.95rem;
    color: var(--text-color);
}
#consumer-stats .card-body small{
    font-size: 0.8rem;
    color: var(--form-label-color);
}
tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }