<div class="container pt-3">
    <h5 class="page-heading">About US</h5>
    <div class="row">
        <div class="col-sm-12">
            <p>
                WBMDTC Ltd. is a Govt. Undertaking company which was formed as a Company as per Companies Act 1956 on
                23rd February, 1973 under the direct administrative control of Department of Large Industries &
                Enterprises. Accordingly, Govt. of West Bengal holds 100% paid up share capital of WBMDTC Ltd.
            </p>
            <p>
                WBMDTC Ltd. has a Board of Directors with a Chairman, Managing Director and Directors as per Companies
                Act of 1956 to manage the activities of the organization as per Govt orders/directives and also as per
                its Memorandum and Articles of Association.
            </p>
            <p>
                WBMDTC Ltd. was set-up with the objectives to explore and extract various Non-Coal Minerals i.e.
                Rock-phosphate, Stone aggregates, Fire clay, Quartz, Feldspars, Iron Ore, Silica Sand etc. in West
                Bengal to examine its commercial possibilities and to convert mineral resources to marketable
                commodities for generating incomes/revenues from sales proceeds. Later, as per the policy of the
                Ministry of Coal, GOI (Vide No. 38035/2/97-CA dated 12-12-2001), Corporation has got the allotment of 6
                (six) Coal Blocks. Out of the six Coal Blocks, Corporation has started commercial production in the
                Trans-Damodar Sector Coal Block during the F.Y. 2012-13 after sustained efforts and for the remaining 5
                (five) coal blocks, Corporation has made significant progress towards completion of pre-mining
                activities. Later as per the judgment of Hon’ble Supreme Court of India dated 24-09-2014, allocation of
                all the Coal Blocks allotted WBMDTC Ltd. was cancelled w.e.f. 24-09-2014 excepting of Trans-Damodar
                Sector Coal Block whose allocation was cancelled w.e.f. 01-04-2015. After cancellation of allocation of
                Coal Blocks, WBMDTC Ltd. acting at present as Mining Agent-cum-Advisor for the six coal mines freshly
                allotted to West Bengal Power Development Corporation and Durgapur Projects Ltd.
            </p>
            <p>
                WBMDTC Ltd. is supplying coal from ECL to micro, small and medium enterprises in West Bengal as State
                Nodal Agency of the State Government.
                WBMDTC Ltd. has adopted and implemented new business strategies in its different sectors which have
                started yielding positive results. With the enactment of Coal Mines (Special Provisions) Act, 2015,
                WBMDTC Ltd. has become eligible to get allocation of coal mines for sale of coal. WBMDTC Ltd. has been
                declared by the Ministry of Coal, the allottee of Gourangdih A, B & C Coal Mines located in Burdwan
                district.
            </p>
            <p>
                WBMDTC Ltd. has been notified by the Govt of India as an Exploration Agency during 2017-18. In 2018,
                WBMDTC Ltd. has entered into the business of supply of indigenous non-coking coal to WBPDCL and DPL to
                meet their urgent needs. WBMDTC Ltd. hopes to revive its financial stability by venturing into coal
                mining and marketing activities.
            </p>
        </div>
    </div>
</div>