<form [formGroup]="changePasswordFrm" (ngSubmit)="onSubmit()">
  <div class="row col-12 text-end" (click)=" dialogRef.close()">X</div>
  <h5 mat-dialog-title>Change Password</h5>
  <div class="mb-0">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>Current password</mat-label>
      <input matInput type="text" formControlName="oldPassword">
      <mat-error *ngIf="changePasswordFrm.controls['oldPassword'].errors">
        <span class="text-danger" *ngIf="changePasswordFrm.controls['oldPassword'].hasError('required')">Please
          Enter Current Password </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="mb-0">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>New password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
      <button type='button' mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordFrm.controls['newPassword'].errors">
        <span class="text-danger" *ngIf="changePasswordFrm.controls['newPassword'].hasError('required')">Please
          Enter New Password </span>
        <span class="text-danger"
          *ngIf="changePasswordFrm.controls['newPassword'].hasError('maxLength') || changePasswordFrm.controls['newPassword'].hasError('pattern')">It
          must contain 8 or more characters that are of at least one number, and
          one special characters, and one uppercase and lowercase letter.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="mb-2">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>Retype password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].errors">
        <span class="text-danger" *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('required')">Please
         Enter Confirm Password </span>
        <span class="text-danger"
          *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('maxLength') || changePasswordFrm.controls['confirmPassword'].hasError('pattern')">It
          must contain 8 or more characters that are of at least one number, and
          one special characters, and one uppercase and lowercase letter.</span>
      </mat-error>
      <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('notMatched')">
        New Password and Confirm Not Match
      </mat-error>
      <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('Matched')">
        Old Password And New Password Are Same Please Enter New Password Different
      </mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-between">
    <button type='button' mat-button class="btn-outline-main" (click)="ClearAll()">Cancel</button>
    <button mat-button type='submit' class="btn-main">Save</button>
  </div>
</form>
