<div class="d-flex align-items-center justify-content-between position-relative">
  <h5 mat-dialog-title>Change Password</h5>
  <button type="submit" class="btn-modal-close" mat-mini-fab (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="changePasswordFrm" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current password</mat-label>
          <input matInput type="text" formControlName="oldPassword" maxlength="20" [type]="hide ? 'password' : 'text'">
          <button type='button' mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" maxlength="20">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordFrm.controls['oldPassword'].errors">
            <span class="text-danger" *ngIf="changePasswordFrm.controls['oldPassword'].hasError('required')">Please
              Enter Current Password </span>
            <span class="text-danger"
              *ngIf="changePasswordFrm.controls['oldPassword'].hasError('maxLength') || changePasswordFrm.controls['oldPassword'].hasError('pattern')">
              Invalid Password</span>

          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New password</mat-label>
          <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="newPassword">
          <button type='button' mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1" maxlength="20">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordFrm.controls['newPassword'].errors">
            <span class="text-danger" *ngIf="changePasswordFrm.controls['newPassword'].hasError('required')">Please
              Enter New Password </span>
            <span class="text-danger"
              *ngIf="changePasswordFrm.controls['newPassword'].hasError('maxLength') || changePasswordFrm.controls['newPassword'].hasError('pattern')">
              Invalid Password
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Retype password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" maxlength="20"
            [type]="hide2 ? 'password' : 'text'">
          <button type='button' mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2" maxlength="20">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].errors">
            <span class="text-danger" *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('required')">Please
              Enter Confirm Password </span>
            <span class="text-danger"
              *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('maxLength') || changePasswordFrm.controls['confirmPassword'].hasError('pattern')">
              Invalid Password
            </span>
          </mat-error>
          <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('notMatched')">
            New Password and Confirm Password not matching.
          </mat-error>
          <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('Matched')">
            Old Password And New Password Are Same. Please Enter Different Password.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-between">
        <button type='button' mat-button class="btn-outline-main" (click)="ClearAll()">Cancel</button>
        <button mat-button type='submit' class="btn-main">Change Password</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <div class="small">
      <p class="mb-0 text-muted small">Note : </p>
      <ul class="mb-0 text-muted small">
        <li>Password length must be at least 8 characters</li>
        <li>Password must contain at least one character</li>
        <li>Password must contain at least one numeric character</li>
        <li>Password must contain at least one special character</li>
      </ul>
    </div>
  </div>
</div>