#dash-stats h4{
    margin-bottom: 0px;
}
#dash-stats small{
    color: #999999;
}
#dash-stats .text-green{
    color: #2EBDC2;
}
#dash-stats .text-violet{
    color: #8C90FC;
}
#dash-stats .dash-icon{
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
}