<div class="container-fluid">
    <div class="page-heading">Dashboard</div>

    <div class="row mb-3" id="dash-stats">
        <div class="col-sm-3 mb-3 mb-lg-0">
            <div class="card dash-card">
                <div class="card-header">Annual Quantity</div>
                <div class="card-body pt-0">
                    <div class="row gx-1 gy-3">
                        <div class="col-6 col-sm-12">
                            <h4 class="text-main">{{dashboardDetails?.annualQTY}}</h4>
                            <small>Allocated</small>
                        </div>
                        <div class="col-6 col-sm-6">
                            <h4 class="text-green">{{dashboardDetails?.balanceAnnualQTY}}</h4>
                            <small>Balance</small>
                        </div>
                        <div class="col-sm-6">
                            Chart
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-lg-0">
            <div class="card dash-card">
                <div class="card-header">Monthly Quantity</div>
                <div class="card-body pt-0">
                    <div class="row gx-1 gy-3">
                        <div class="col-6 col-sm-6">
                            <h4 class="text-main">{{dashboardDetails?.monthlyQTY}}</h4>
                            <small>Allocated</small>
                        </div>
                        <div class="col-6 col-sm-6">
                            <h4 class="text-green">{{dashboardDetails?.monthlyBalanceQTY}}</h4>
                            <small>Balance</small>
                        </div>
                        <div class="col-6 col-sm-6">
                            <h4 class="text-violet">{{dashboardDetails?.monthlyLiftingQTY}}</h4>
                            <small>Lifted</small>
                        </div>
                        <div class="col-6 col-sm-6">
                            Chart
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-sm-4 p-3">
                            <img src="assets/images/Collieries.svg" class="dash-icon">
                            <h4>{{dashboardDetails?.collaries}}</h4>
                            <small>Collaries</small>
                        </div>
                        <div class="col-4 col-sm-4 border-start border-end p-3">
                            <img src="assets/images/Vehicle.svg" class="dash-icon">
                            <h4>{{dashboardDetails?.vechicle}}</h4>
                            <small>Vehicle</small>
                        </div>
                        <div class="col-4 col-sm-4 p-3">
                            <img src="assets/images/MSME.svg" class="dash-icon">
                            <h4>{{dashboardDetails?.consumer}}</h4>
                            <small>MSME Consumers</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mb-3 mb-lg-0">
            <div class="card dash-card">
                <div class="card-header form-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-sm">Daily Coal Lifting Chart</div>
                        <div class="col-sm-3">
                            <select class="form-select form-select-sm">
                                <option value="">Select Month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="areaChart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                            [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis"
                            [labels]="chartOptions.labels" [legend]="chartOptions.legend" [title]="chartOptions.title"
                            [subtitle]="chartOptions.subtitle"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card dash-card">
                <div class="card-header">Location Of Collaries</div>
                <div class="card-body">
                    <agm-map [latitude]="configService.lat" [fitBounds]="true"  [zoom]="8" [longitude]="configService.long">
                        <agm-marker [agmFitBounds]="true" [agmFitBounds]="true" *ngFor="let marker of resLocationOfCollaries"
                            [latitude]="marker.latitude" [longitude]="marker.longitude"
                            (markerClick)="clickedMarker(infoWindow)">
                            <agm-info-window class="agmInfo" [isOpen]="isInfoWindowOpen(marker.rowNumber)" #infoWindow>
                                <table class="table table-sm mb-0">
                                    <tbody>
                                        <tr>
                                            <td><span>Colliery Name :</span></td>
                                            <td><span class="fw-bold">{{marker.collieryName | titlecase}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Address :</span></td>
                                            <td><span class="fw-bold">{{marker.collieryAddress | titlecase}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Lat./Long. :</span></td>
                                            <td><span class="fw-bold">{{marker.latitude}}/{{marker.longitude}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>