<div class="row">
    <div class="col-sm-8">
        <div class="card plain-card">
            <div class="card-body">
                <!-- area chart -->
                <div id="areaChart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [stroke]="chartOptions.stroke"
                      [dataLabels]="chartOptions.dataLabels"
                      [yaxis]="chartOptions.yaxis"
                      [labels]="chartOptions.labels"
                      [legend]="chartOptions.legend"
                      [title]="chartOptions.title"
                      [subtitle]="chartOptions.subtitle"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card plain-card">
            <div class="card-body">
                <!-- pie chart -->
                <div id="pieChart">
                    <apx-chart
                      [series]="pieChartOptions.series"
                      [chart]="pieChartOptions.chart"
                      [labels]="pieChartOptions.labels"
                      [responsive]="pieChartOptions.responsive"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
