table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
    width: 100%;
}
  