@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', "Helvetica Neue", sans-serif;
  background-color:var(--bg-color);
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px !important;
  border-radius: 0px !important;
  opacity: .5;
}

:root {
  --main-color: rgb(251, 170, 93);
  --main-light-color: rgb(255, 228, 203);
  --main-dark-color: rgb(246, 133, 26);
  --text-color:#000;
  --bg-color:#fff;
  --top-bg-color:#E6E6E6;
}
.theme-white{
  --text-color:#000;
  --bg-color:#fff;
  --top-bg-color:#E6E6E6;
}
.theme-dark{
  --text-color:#fff;
  --bg-color:#2B3036;
  --top-bg-color:#141516;
}
.text-main {
  color: var(--main-color);
  text-decoration: none;
}

.bg-main,
.btn-main {
  background-color: var(--main-color);
  color: #fff;
  font-size: 0.85rem;
}

.btn-main:hover {
  background-color: var(--main-dark-color) !important;
  color: #fff !important;
}

.btn-outline-main {
  font-size: 0.85rem;
  color: var(--main-color);
  background-color: transparent;
  border: solid 1px var(--main-color) !important;
}

.btn-outline-main:hover {
  color: #fff !important;
  background-color: var(--main-color) !important;
  border: solid 1px var(--main-color) !important;
}
.page-heading{
  // border-bottom: solid 2px var(--main-color);
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#wrapper p{
  font-size: 0.85rem;
  color: var(--text-color);
  text-align: justify;
  line-height: 1.7rem;
}
#wrapper .card,
#wrapper .card-body{
  background-color: var(--bg-color) !important;
}
.form-container .input-group {
  border-radius: 0.375rem;
  border: solid 1px rgba(0, 0, 0, 0.125);
}

.form-container .input-group .form-control,
.form-container .input-group .btn {
  border: none;
  box-shadow: none;
  font-size: 0.85rem;
  background-color: #fff;
}

.form-container .form-label {
  font-size: 0.85rem;
  color: var(--text-color);
  margin-bottom: 0;
}

.form-container .form-data {
  font-size: 0.85rem;
  margin-bottom: 0;
  color: var(--text-color);
}

.form-container .form-check,
.form-container .form-control,
.form-container .form-select,
.form-container .btn {
  box-shadow: none;
  font-size: 0.85rem;
}

.dashboard-table {
  font-size: 0.85rem;
  width: 100%;
}

.dashboard-table th,
.dashboard-table th.mat-header-cell {
  font-size: 0.85rem !important;
  vertical-align: middle !important;
  font-weight: 500 !important;
  background-color: var(--top-bg-color) !important;
  text-transform: uppercase !important;
  color: var(--text-color);
}
.dashboard-table td,
.dashboard-table td.mat-cell {
  vertical-align: middle !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color);
}
.upload-table td{
  padding-block: 0 !important;
}
.dashboard-table td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
}

.dashboard-table td .btn-group .btn {
  font-size: 0.75rem;
  box-shadow: none;
  margin-right: 5px;
  border-radius: 0.375rem !important;
}
.dashboard-table td mat-icon-button{
  height: 36px !important;
  width: 36px !important;
  line-height: 40px !important;
}
.dashboard-table td mat-icon {
  font-size: 1.2rem !important;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  background-color: var(--main-color);
  color: #fff;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
// .upload-image {
//   position: relative;
//   overflow: hidden;
//   display: inline-block;
// }

// .upload-image img {
//   width: 100%;
//   height: 140px;
//   border-radius: 50%;
//   object-fit: contain;
//   object-position: middle;
// }

// .upload-image .btn {
//   position: absolute;
//   bottom: 5px;
//   right: 5px;
//   background: #eee;
//   border-radius: 50%;
//   padding: 0;
//   height: 28px;
//   width: 28px;
//   line-height: 28px;
//   font-size: 0.85rem;
//   cursor: pointer;
// }

// .upload-image .btn:hover {
//   background: #ddd;
// }

// .upload-image input[type=file] {
//   position: absolute;
//   right: 7px;
//   bottom: 6px;
//   opacity: 0;
//   width: 24px;
//   height: 24px;
// }
mat-radio-button,
mat-form-field{
  font-family: "Rubik", sans serif !important;
  font-size: 0.85rem !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: var(--main-color) !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--main-light-color) !important;
}
.plain-card .card-header{
  background-color:transparent;
  font-size: 1rem;
  font-weight: 500;
}
.plain-card .card-body{
  font-size: 0.85rem;
}
.dash-card{
  border: solid 1px var(--card-border-color);
  border-radius: 0.375rem;
  background-color:var(--card-bg-color);
}
.dash-card .card-header{
  border-bottom: 0;
  background-color:var(--card-bg-color);
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
}
.dash-card .card-body{
  background-color:var(--card-bg-color);
  color: var(--text-color);
  border-radius: 0.375rem;
}