<div class="container-fluid">
    <h5 class="page-heading">Ledger</h5>
    <div class="col-sm-12">
        <div class="card plain-card">
            <div class="card-header pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="me-5">Ledger</span>
                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>To Ledger</mat-label>
                                <mat-select>
                                    <mat-option >Opt 1</mat-option>
                                    <mat-option >Opt 2</mat-option>
                                    <mat-option >Opt 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>From Date</mat-label>
                                <input matInput [matDatepicker]="fromdate">
                                <mat-datepicker-toggle matSuffix [for]="fromdate">
                                </mat-datepicker-toggle>
                                <mat-datepicker #fromdate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>To Date</mat-label>
                                <input matInput [matDatepicker]="todate">
                                <mat-datepicker-toggle matSuffix [for]="todate">
                                </mat-datepicker-toggle>
                                <mat-datepicker #todate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-auto">
                            <button mat-raised-button
                                class="btn-secondary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="dashboard-table">
                    <ng-container matColumnDef="particulars">
                        <th mat-header-cell *matHeaderCellDef> Particulars </th>
                        <td mat-cell *matCellDef="let element"> {{element.particulars}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="debit">
                        <th mat-header-cell *matHeaderCellDef> Debit </th>
                        <td mat-cell *matCellDef="let element"> {{element.debit}} </td>
                    </ng-container>
                    <ng-container matColumnDef="credit">
                        <th mat-header-cell *matHeaderCellDef> Credit </th>
                        <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
                    </ng-container>
                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef> Remark </th>
                        <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="row justify-content-around">
                    <div class="col-sm-5 form-container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <label class="form-label">Opening Balance</label>
                                <div class="form-data">12,00,254</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <label class="form-label">Current Balance</label>
                                <div class="form-data">12,00,254</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <label class="form-label">Closing Balance</label>
                                <div class="form-data">12,00,254</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>