<div class="d-flex align-items-center justify-content-between position-relative">
    <h5 class="mat-dialog-title" id="mat-dialog-title-0"> Add Rate Card</h5>
    <button type="submit" class="btn-modal-close" mat-mini-fab (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
</div>
<form [formGroup]="addRateCardForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Enter Coal Grade</mat-label>
                <input matInput placeholder="Enter Coal Grade" [readonly]="true" formControlName="coalGradeName">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Unit</mat-label>
                <mat-select formControlName="unit" placeholder="Enter Unit (Rs/Tonne)">
                    <mat-option [disabled]="true">select Unit</mat-option>
                    <mat-option value="Ton">Ton</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Base Rate</mat-label>
                <input matInput placeholder="Enter Base Rate" formControlName="baseRate" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Royalty</mat-label>
                <input matInput placeholder="Enter Royalty" formControlName="royalty" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>CGST</mat-label>
                <input matInput placeholder="Enter CGST" formControlName="cgst" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>SGST</mat-label>
                <input matInput placeholder="Enter SGST" formControlName="sgst" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>IGST</mat-label>
                <input matInput placeholder="Enter IGST " formControlName="igst" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>

        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Cess</mat-label> 
                <input matInput placeholder="Enter Cess" formControlName="cess" (keypress)="validationService.acceptedOnlyNumbers($event)" maxlength="6">
            </mat-form-field>
        </div>
        <div class="text-end">
            <button class="btn btn-main" type="submit">Update</button>
        </div>

    </div>
</form>