<div class="d-flex align-items-center justify-content-between position-relative">
    <h5 class="mat-dialog-title" id="mat-dialog-title-0"> Add Rate Card</h5>
    <button type="submit" class="btn-modal-close" mat-mini-fab (click)="closeModal('No')">
        <mat-icon>close</mat-icon>
      </button>
</div>
<form>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Enter Coal Grade</mat-label>
                <input matInput placeholder="Enter Coal Grade">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Unit</mat-label>
                <input matInput placeholder="Enter Unit (Rs/Tonne)">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Base Rate</mat-label>
                <input matInput placeholder="Enter Base Rate">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Royalty</mat-label>
                <input matInput placeholder="Enter Royalty">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>CGST</mat-label>
                <input matInput placeholder="Enter CGST">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>SGST</mat-label>
                <input matInput placeholder="Enter SGST">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>IGST</mat-label>
                <input matInput placeholder="Enter IGST ">
            </mat-form-field>
        </div>

        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Cess</mat-label>
                <input matInput placeholder="Enter Cess">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Total</mat-label>
                <input matInput placeholder="Enter Total">
            </mat-form-field>
        </div>
        <div class="text-end">
            <button class="btn btn-main" type="submit">Submit</button>
        </div>

    </div>
</form>